@font-face {
    font-family: 'josefin-sans';
    src: url('/JosefinSans-Regular.ttf')  format('truetype')
}

body {
    font-family: 'josefin-sans', Fallback, sans-serif;
    background-color: greenyellow;
    background-image: radial-gradient(circle, #ffffff, #f068f0, #f068f0)!important;
}

.text-white {
    color: antiquewhite;
}

.border-pink {
    box-shadow: 5px 5px 90px 45px #f068f0;
}

.bg-pink {
    background-color: #f068f0;
}

.bg-pink-gradient {
    background-image: radial-gradient(circle, #, #f068f0, #f068f0)!important;
}