@font-face {
    font-family: 'josefin-sans';
    src: url('/JosefinSans-Regular.ttf')  format('truetype')
}

body {
    font-family: 'josefin-sans', Fallback, sans-serif;;
    background-color: greenyellow;
}

.bg-lily-green {
    background-color: greenyellow;
}

.text-white {
    color: antiquewhite;
}

.border-pink {
    box-shadow: 5px 5px 90px 45px #ff00ff;
}
